<br><br><script src="main.js" defer></script>
<h1 style="text-align:center">Online Store</h1><hr>
<div style="text-align:center" class="container bg-secondary p-1">
    <h2 style="text-align:center">ADMIN LOGIN</h2>
    <form>
        <h4>UserName </h4>
        <input type="text" id="username" name="email" class="form-control" required/><br><br>
        <h4>Password </h4>
        <input type="text" id="password" name="password" class="form-control"  required/><br><br>
        
        
        <button type="submit" class="btn btn-primary" (click)="home()">GO TO HOME</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" (click) = "adminLogin()">Admin Login</button>&nbsp;&nbsp;
    </form>
</div>

